body {
  overflow-x: hidden;
}


.background {
  background-image: url(../images/stardust.png);
  /*width: 1%;*/
  box-shadow: 1px 1px 20px black;
  color: #b6b6d8;
  font-family: 'Noto Sans', sans-serif;
}

.head {
  height: 600px;
}

.header-text {
  line-height: 600px;
  font-size: 60px;
}

.text-center {
  background-color: #141c40;
}

.sunken {
  color: #bfbaba;
  margin: 15px 0px;
  font-size: 35px;
}

.card {
  background: none;
  border: none;
  height: 100px;
  width: 100px;
  line-height: 100px;
  /*margin: 5px;*/
}

.contact-card {
  width: 100px;
  height: 100px;
}

.gv {
  height: 75px;
  width: 75px;
  /*background-image: url(../images/gv-logo.png);*/
}

.content {
  padding: 10px 0px;
}

.contact {
  margin-bottom: 0px;
}

.profile {
  height: 150px;
}

.skill-item {
  margin: 5px -5px;
  font-size: 16px;
  /*border-left: solid 2px gainsboro;*/
  padding: 0px 5px;
  /*border-right: solid 2px gainsboro;*/
}

/*.left {
  border-left: solid 4px gainsboro;
}

.right {
  border-right: solid 4px gainsboro;
}*/

@media (max-width: 426px) {
  .header-text {
    line-height: 150px;
  }

  .head {
    height: 300px;
  }

  .sunken p {
    font-size: 15px;
  }

  .work span {
    /*visibility: hidden;*/
  }

  .card {
    margin: auto;
    width: 100%;
  }
}