body {
  overflow-x: hidden;
}


.background {
  background-image: url(../images/stardust.png);
  /*width: 1%;*/
  box-shadow: 1px 1px 20px black;
  color: #b6b6d8;
  font-family: 'Noto Sans', sans-serif;
}

.head {
  height: 600px;
}

.header-text {
  line-height: 600px;
  font-size: 60px;
}

.text-center {
  background-color: #141c40;
}

.sunken {
  color: #bfbaba;
  margin: 15px 0px;
  font-size: 35px;
}

.card {
  background: none;
  border: none;
  height: 100px;
  width: 100px;
  line-height: 100px;
  /*margin: 5px;*/
}

.contact-card {
  width: 100px;
  height: 100px;
}

.gv {
  height: 100px;
  width: 100px;
  /*background-image: url(../images/gv-logo.png);*/
}

.content {
  padding: 10px 0px;
}

.profile {
  height: 150px;
}