.background {
  background-image: url(../images/stardust.png);
  /*width: 1%;*/
  height: 400px;
  box-shadow: 1px 1px 20px black;
  color: #b6b6d8;
  font-family: 'Lato', sans-serif;
}

.header-text {
  line-height: 400px;
}

.text-center {
  background-color: #141c40;
}

.sunken {
  color: #bfbaba;
}